.2ndpass
.Almin-Soft/
.FBReader/
.FeelUOwn/
.Foxit/
.FreeCAD/
.GeeTeeDee/
.Genymobile/
.ICEauthority
.MTREE
.PKGINFO
.Private_encfs/
.SciTE.session
.Skype/
.TelegramDesktop/
.VirtualBox/
.WebIde10/
.WebStorm8/
.WikidPad.config
.WikidPadGlobals/
.Xauthority
.Xresources
.aMule/
.acetoneiso/
.adobe/
.adom.data/
.aliedit/
.amsn/
.android/
.antigen/
.anyconnect
.appcfg_oauth2_tokens
.archey3.cfg
.arduino15/
.aria2/
.ash_history
.asy/
.audacity-data/
.authorized_keys.d.lock
.autorandr/
.balsa/
.bash_completion
.bash_history
.bash_history.1
.bash_profile
.bashrc
.bazaar/
.beyondcompare/
.binwalk/
.bitcoin/
.bluefish/
.blueproximity/
.btsync/
.bundle/
.byobu/
.bypy/
.bzf/
.bzr.log
.cache/
.cairo-clockrc
.cargo/
.cassandra.history
.cellwriter/
.cert/
.chmsee/
.chrome-remote-desktop-session
.cinnamon/
.clish_history
.cnpmrc
.composer/
.config/.mono/
.config/0ad/
.config/Alibaba/
.config/Atom/
.config/Bitcoin/
.config/Code Industry/
.config/Code/
.config/CuteMarkEd Project/
.config/Cutegram/
.config/Editra/
.config/Empathy/
.config/Eric4/
.config/Flavio Tordini/
.config/Foxit Software/
.config/Franz/
.config/FreeCAD/
.config/Genymobile/
.config/Google/
.config/Hex-Rays/
.config/ImageMagick/
.config/KeePass/
.config/Kingsoft/
.config/Mousepad/
.config/MuPuF.org/
.config/Mutant/
.config/Mutate/
.config/Notepadqq/
.config/Popcorn-Time/
.config/QLandkarteGT/
.config/QtProject.conf
.config/QtProject/
.config/Rains/
.config/ReText project/
.config/Software/
.config/SogouPY.users/
.config/SogouPY/
.config/Synergy/
.config/TNick/
.config/The Settlers Online/
.config/Thunar/
.config/Trolltech.conf
.config/Trolltech/
.config/VisualParadigm/
.config/arora-browser.org/
.config/aurup
.config/aurvote
.config/autostart/
.config/awesome.back/
.config/awesome/keychains.lua
.config/awesome/keydoc.lua
.config/awesome/menu2.lua
.config/awesome/rc.lua.bak
.config/awesome/themes/
.config/awn/
.config/bcloud/
.config/bless/
.config/btsync/
.config/cairo-dock/
.config/caja/
.config/chrome-remote-desktop/
.config/chromium/
.config/clipit/
.config/codef00.com/
.config/compiz-1/
.config/compiz/
.config/configstore/
.config/dconf/
.config/disper/
.config/dleyna-renderer-service.conf
.config/dleyna-server-service.conf
.config/dwb/
.config/electronic-wechat/
.config/emaildefaults
.config/enchant/
.config/eog/
.config/everpad/
.config/evolution/
.config/fbn.cx/
.config/fcitx/
.config/feh/
.config/fish/
.config/flake8
.config/fontforge/
.config/freeplane/
.config/gajim/
.config/galculator/
.config/gconf/
.config/geany/
.config/gedit/
.config/geeqie/
.config/gencfs
.config/git-cola/
.config/git/
.config/glade.conf
.config/globaltime/
.config/gmchess/
.config/gmlive/
.config/gmpc/
.config/goa-1.0/
.config/gobby/
.config/google-chrome/
.config/googlecl/
.config/gpicview/
.config/grilo-test-ui/
.config/gsshfs
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtranslator/
.config/htop/
.config/ibus/
.config/karboncalligraphyrc
.config/kazam/
.config/keepassx/
.config/kernel.org/
.config/kingsoft/
.config/kritarc
.config/kupfer/
.config/leafpad/
.config/libfm/
.config/libimobiledevice/
.config/libreoffice/
.config/libvirt/
.config/lrcdis.conf
.config/lwqq/
.config/lxpanel/
.config/lxsession/
.config/lxterminal/
.config/mana/
.config/markdown-extensions.txt
.config/mate/
.config/mc/
.config/meld/
.config/menus/
.config/midori/
.config/mimeapps.list
.config/muffin/
.config/mypaint/
.config/nautilus/
.config/nemo/
.config/netctl-gui.conf
.config/netease-cloud-music/
.config/netsurf/
.config/ngdstudios/
.config/nobleNote/
.config/node-webkit/
.config/nuvolaplayer3/
.config/obs-studio/
.config/openbox/
.config/openvpn.up
.config/opera/
.config/orage/
.config/pacmatic
.config/parcellite/
.config/pcmanfm/
.config/pdfmod/
.config/pkgbrowser/
.config/poedit/
.config/ppstream.co/
.config/psi/
.config/pudb/
.config/pulse/
.config/pylintrc
.config/qtfm/
.config/qtile/
.config/rabbitvcs/
.config/rains/
.config/ranger/
.config/ristretto/
.config/shadowsocks-gui/
.config/shadowsocks-qt5/
.config/smplayer/
.config/sogou-qimpanel/
.config/sshmntconfig
.config/stardict/
.config/sublime-text-2/
.config/sublime-text-3/
.config/supertuxkart/
.config/teamviewer/
.config/terminator/
.config/thefuck/
.config/tilda/
.config/totem/
.config/transmission/
.config/ubuntukylin/
.config/user-dirs.dirs
.config/vcmi/
.config/vlc/
.config/volumeicon/
.config/wpa_supplicant/
.config/xarchiver/
.config/xchainkeys/
.config/xfburn/
.config/xfce4-dict/
.config/xfce4/
.config/yad.conf
.config/yarpen.cz/
.config/yelp/
.config/youdao-dict/
.conky/
.cow/
.cpan/
.cr3/
.crack-attack/
.cxoffice/
.daimonin/
.dbshell
.dbus/
.deepinwine/
.designer/
.desura/
.devpi/
.dhexrc
.dia/
.disper/
.disruptive innovations sarl/
.dmrc
.dockercfg
.dropbox-dist/
.dropbox/
.easytag/
.eclipse/
.ecryptfs/
.edbkup
.egoboo/
.electron/
.emacs
.emerald/
.env/
.env2/
.eric4/
.erlang.cookie
.esd_auth
.evernotepw
.everpad/
.ew.json
.exo_browser_shell/
.exo_browser_shell_frame/
.fbtermrc
.fehbg
.felix breuer/
.filezilla/
.fishrc
.flashget/
.fltk/
.fluxbox/
.fontconfig/
.fonts/
.fpp/
.fqterm/
.freemind/
.freeplane/
.freetalk/
.galculator
.gd/
.geeknote/
.gegl-0.0/
.gem/
.gencfs.lock
.gephi/
.gftp/
.gimp-2.8/
.gitconfig
.gitignore
.gitlab-runner/
.gksu.lock
.glob2/
.glsof/
.gnome/
.gnome2/
.gnupg/
.goldendict/
.google_authenticator
.googleearth/
.gpg-agent-info
.gpgdirrc
.gphpedit/
.grafx2/
.grail/
.griffon/
.grive
.grsync/
.gsshfs.lock
.gstreamer-0.10/
.gtd-free/
.gtkrc-2.0
.hhvm.hhbc
.histfile
.history
.hosts
.hphpd.history
.hphpd.ini
.i3/
.ibus/
.icedove
.icedtea/
.icedteaplugin/
.icons/
.idapro/
.ideskrc
.idesktop/
.ilg-config
.infinote-records/
.install4j
.installjammerinfo/
.ipynb_checkpoints/
.ipython/
.ivy2/
.java/
.jboss-cli-history
.jssc/
.jstock/
.jupyter/
.kde4/
.kerneloops
.keychain/
.kiki/
.kingsoft/
.kodi/
.kodos/
.kpcli-history
.lcrc
.lesshst
.lftp-gtk/
.libreoffice/
.links/
.local/
.loemu/
.longene/
.lyrics/
.macromedia/
.magick-rotation.xml
.mame/
.mateconf/
.mateconfd/
.matplotlib/
.mbsyncrc
.megaglest/
.meteor/
.meteorsession
.minecraft/
.mitmproxy/
.mldonkey/
.moc-tray
.moc/
.mongorc.js
.mono/
.moprc
.mozilla/
.mplayer/
.msf4/
.msfguiJDesktop/
.mtpaint
.multibootusb/
.multitail.cmdfilehistory
.muttrc
.mycli-history
.mycli.log
.myclirc
.mysql_history
.mysqlgui/
.naev/
.nessusrc
.netpanzer/
.netx/
.neverball/
.nevernote/
.ngdstudios/
.nixnote/
.node-gyp/
.node_repl_history
.npm/
.nv/
.nvidia-settings-rc
.nx/
.oh-my-fish/
.oh-my-zsh/
.ollydbg/
.onedrive/
.openoffice.org/
.openra/
.openyoudao/
.opera/
.opera_widget_manager/
.oracle_jre_usage/
.osdbattery/
.othello/
.ovftool.ssldb
.p7zip
.pac/
.pam_environment
.parallels/
.password-store/
.pcmanx/
.pdfedit/
.pdsh/
.pearrc
.pearrc.bak
.pencil/
.php_history
.phpenv/
.pip/
.pki/
.pocsuite/
.pocsuiterc
.popcorntime/
.pps/
.projectlibre/
.pry_history
.pulse-cookie
.pulse/
.purple/
.putty/
.pyNeighborhood/
.pylint.d/
.pyshell/
.python-eggs/
.python_history
.pythonhist
.pyvim/
.qemu-launcher/
.qmc2/
.qmmp/
.qsci/
.qstardict/
.qt/
.qtile.py
.quarry
.quickrdp/
.qws/
.recently-used
.rediscli_history
.remmina/
.reporc
.rnd
.rpdb2_settings/
.savage/
.savage2/
.sbt/
.scala_history
.scalaide/
.screenlayout/
.screenrc
.sdcv_history
.selected_editor
.serverauth.19546
.shotwell/
.siegerc
.snapper.log
.sqlite_history
.sqlmap/
.ssh/
.stalonetrayrc
.stardict/
.steam/
.steampath
.steampid
.subversion/
.sunpinyin/
.sup/
.supertux2/
.surf/
.swp
.swt/
.sylpheed-2.0/
.synaptic/
.syncterm/
.synergy/
.task/
.taskrc
.tdm/
.tencent/
.textadept/
.tftpgui.cfg
.themes/
.thumbnails/
.thunderbird/
.tmux.conf
.todo/
.totp-cli
.tuxcmd/
.tuxpaint/
.ucimf-log
.unison/
.urxvt/
.v8flags.4.6.85.28.rains.json
.vagrant.d/
.vifm/
.vim/.netrwbook
.vim/.netrwhist
.vim/README.markdown
.vim/after/
.vim/autoload/
.vim/bundle/.DS_Store
.vim/bundle/AutoComplPop/
.vim/bundle/Pydiction/
.vim/bundle/Vundle.vim/
.vim/bundle/autoscroll.vim/
.vim/bundle/go.vim/
.vim/bundle/nerdtree/
.vim/bundle/python-mode/
.vim/bundle/taglist.vim/
.vim/bundle/vim-autoflake/
.vim/bundle/vim-autopep8/
.vim/bundle/vim-markdown/
.vim/bundle/vim-powerline/
.vim/bundle/vundle.vim
.vim/bundle/winmanager/
.vim/colors/
.vim/doc/
.vim/ftplugin/
.vim/plugin-info.txt
.vim/plugin/
.vim/syntax/
.vim/view/
.viminfo
.viminfo.tmp
.viminfy.tmp
.viminfz.tmp
.vimrc.1
.vimrc.2
.vimrc.bak
.vimrc.bak.swp
.vimrc.bak2
.vimrc.new
.virt-manager/
.vmrc_plugin_ovftool_settings.js
.vmware/
.vnc/
.vscode/
.w3af/
.wacom_utility
.wahcade/
.warzone2100-3.1/
.warzone2100-3.2/
.webex/
.weechat/
.wget-hsts
.when/
.wicd/
.widelands/
.wine/
.wingide5/
.winpdb_settings.cfg
.wireshark/
.wiznote/
.xchat2/
.xchm
.xfce4-session.verbose-log
.xfce4-session.verbose-log.last
.xlogo
.xmame/
.xmind/
.xmms/
.xmodmaprc.bak
.xprofile
.xscreensaver
.xsession-errors
.xsession-errors.old
.yEd/
.yasat/
.yong/
.zcompcache/
.zcompdump
.zdirs
.zenmap/
.zkbd/
.zsh-update
.zsh_history
.zshrc
.zshrc.aliases
.zshrc.env
.zshrc.local
Desktop/
Documents/
Downloads/
Dropbox/
MyPaint/
OneDrive/
Pictures/
Videos/
grive/
private/
